body {
    background-color: #121111;
}

p {
    display: inline;
}

a,
a:hover {
    color: white;
    text-decoration: none;
}

.console {
    font-family: monospace;
    font-size: 1.5vw;
    display:block;
    margin-left:0;
    color: white;
    border: none;
    padding: 0px;
    outline: none;
}

#terminal {
    font-family: monospace;
    font-size: 1.5vw;
    color: white;
    background: #121111;
    border: none;
    padding: 0px;
    outline: none;
    word-wrap: break-word;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


